<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">

	<div class="page-count">
	    <div class="page-footer">Page <span id="pagenumber"></span> of <span id="pagecount"></span></div>
	    <div class="table-footer">
	        <table>
	            <tr>
	                <td class="left" style="width:1%;">
	                    <img class="logo-footer" src="saucer_logo_transparency.png" alt="logo"></img>
	                </td>
	                <td class="left">
	                <strong>FOOTER EXAMPLE</strong> <a href="https://github.com/elegardo/">https://github.com/elegardo</a>
	                </td>
	            </tr>
	        </table>
	    </div>
	</div>
    
</div>