<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>

    <body>
        <div class='header' th:include="header::header"></div>

        <div class='pagecount' th:include="pagecount::pagecount"></div>

        <div>
		    <table>
		        <tr class="title-block">
		            <td>
		                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/> 
		                Duis vitae leo massa. Phasellus semper maximus.
		            </td>
		        </tr>
		    </table>        
        </div>

        <p>
            <b>Lorem ipsum dolor sit amet.</b>
        </p>
        
        <p>
        Name: <span th:text="${person.firstName + ' ' + person.lastName}" th:remove="tag" class="default">NAME</span><br/>
        Address: <span th:text="${person.street+ ', ' + person.city}" th:remove="tag" class="default">ADDRESS</span><br/>
        Zip Code: <span th:text="${person.zipCode}" th:remove="tag" class="default">zip</span><br/>
        </p>
        
        <p class="indent">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec neque nisl. Aliquam eget nunc urna. Vestibulum malesuada ultrices nunc eget feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eget auctor justo, vitae viverra lorem. Sed lobortis magna eget lorem dapibus ornare. Duis aliquam tempus tristique. Cras finibus velit eu tortor accumsan, ultrices elementum urna hendrerit. Praesent ultricies augue dolor, sed efficitur eros luctus at. Duis egestas eleifend sem id rhoncus. Quisque nec neque quis tellus convallis porta.
        </p>
        
        <div class="paragraph">
            <table>
            <tr>
                <td>1.</td>
                <td>
                    Aenean non ipsum felis. Sed ut condimentum purus. Duis rhoncus nibh erat. Etiam egestas condimentum nulla ut blandit. Proin placerat accumsan arcu vitae rhoncus. Nunc interdum felis quis lacus tincidunt, quis scelerisque ipsum fermentum. Sed sodales sapien mi, vel interdum sem pretium vel. Aliquam id placerat diam. Vivamus sed pretium neque. Nulla eu ligula ac libero cursus ultrices nec vitae sem. Quisque convallis libero at elit euismod venenatis.
                </td>
            </tr>
            </table>    
        </div>
        
        <div class="paragraph">
            <table>
            <tr>
                <td>2.</td>
                <td>
                    Aenean consequat nisi non purus auctor, rutrum consequat quam bibendum. Cras quis ipsum laoreet, egestas felis a, euismod mi. Etiam vestibulum sapien eu velit scelerisque mattis. Vestibulum nisl justo, interdum vel dignissim dictum, suscipit nec orci. Aenean non nisl orci. Pellentesque vel sapien et libero maximus varius. Vestibulum magna augue, semper et leo non, molestie imperdiet turpis.
                </td>
            </tr>
            </table>    
        </div>
        
        <div class="paragraph">
            <table>
            <tr>
                <td>3.</td>
                <td>
                    Duis vel eleifend dui, in semper lectus. Integer molestie at nisi quis varius. Morbi tempor eget lacus id elementum. Maecenas et odio in lorem ultrices posuere at et turpis. Nam aliquam in augue nec varius. Donec venenatis massa eleifend magna mattis accumsan. In et tincidunt urna. Nunc bibendum vestibulum fermentum. Etiam nec nibh arcu. Proin aliquet magna vitae leo laoreet, et porttitor augue tristique. Sed gravida pellentesque nisi eget cursus. In sit amet nibh sem.
                </td>
            </tr>
            </table>    
        </div>
        
        <p class="indent">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis faucibus feugiat. Donec mollis odio mi, a fringilla sapien gravida non. Nam hendrerit luctus erat a euismod. Aliquam erat volutpat. Aenean ac est in arcu tempor tristique. Quisque ornare lacinia mollis. Pellentesque quis consectetur sapien. Quisque ac mi dolor. Proin eleifend, turpis vel bibendum luctus, massa urna hendrerit velit, vitae placerat magna felis quis odio. Maecenas euismod et ligula quis faucibus. Maecenas accumsan orci nec tortor maximus, in blandit leo accumsan. Aenean ut erat non enim consectetur facilisis. Phasellus elit mauris, volutpat eu lacinia quis, ornare sit amet ligula. Maecenas ac sem vel turpis lobortis rutrum. Curabitur at nulla varius magna vehicula commodo. Duis sollicitudin blandit quam, id mattis erat.
        </p>
        
        <p class="indent">
            Mauris posuere lacinia purus, vel finibus neque vestibulum quis. Nullam non arcu vel massa interdum rhoncus aliquet quis dui. Sed in sollicitudin felis, ut auctor dolor. Duis gravida lorem vitae facilisis dictum. Nam tellus nisl, sollicitudin vehicula euismod at, scelerisque mollis metus. Curabitur et eros at lacus tincidunt faucibus. Proin facilisis cursus sodales. Proin fermentum mi eu mauris vulputate, vel bibendum lectus consequat. Suspendisse dictum justo ante, sed viverra erat auctor vel. Aenean non dictum eros. Sed dolor nibh, tempus vehicula augue ac, aliquam ullamcorper quam. Proin aliquam consequat hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut id magna a enim volutpat consequat. Nunc aliquam ligula libero, vitae ornare lacus dapibus a.
        </p>
        
        <p class="indent">
            Curabitur venenatis vitae purus et suscipit. Proin fringilla dui ipsum, in sodales mauris molestie at. Aliquam faucibus gravida lacus eu semper. Phasellus vitae efficitur ex. Suspendisse egestas tempor tellus cursus consequat. Praesent risus nunc, pellentesque cursus ornare in, auctor et libero. Etiam tincidunt varius magna vel efficitur. Nunc tincidunt erat ut nibh iaculis, sed pellentesque lacus mollis. Integer a mattis purus. Praesent luctus sapien in odio molestie, vitae ornare augue pulvinar. Donec dignissim nisl mi. Nunc nec lectus leo.
        </p>
        
        <p class="indent">
            Morbi in consequat magna, a maximus erat. Cras quis laoreet nulla. In quis lacinia lorem, sed luctus massa. Curabitur eget libero velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed ullamcorper dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris viverra consequat lorem, non cursus erat rhoncus pellentesque. Curabitur consequat, quam egestas facilisis vulputate, quam nunc mollis urna, sit amet pharetra est libero at arcu. Donec hendrerit congue augue ut ullamcorper. Curabitur pretium, magna non facilisis sagittis, mauris velit sagittis erat, non convallis velit enim vitae nisi. Nulla vitae nulla id diam suscipit sodales interdum vel arcu.
        </p>
        
        <p class="indent">
            Maecenas malesuada ut erat blandit luctus. Sed suscipit odio in mi tristique, eu cursus libero dapibus. Curabitur nec sem nec purus tempus condimentum. Vivamus eleifend felis ac condimentum imperdiet. Suspendisse vel tristique risus, ac semper elit. Nullam tincidunt eros lectus, sed cursus orci posuere sit amet. Aliquam vulputate nisi eget nibh vulputate eleifend. Integer a finibus orci. Duis lectus quam, viverra id ligula non, blandit iaculis tortor. Sed at pretium risus. Praesent nec augue iaculis, vehicula augue commodo, venenatis elit.
        </p>
        
        <p class="indent">
            Cras varius consequat blandit. Pellentesque ut enim eu ante posuere ullamcorper vitae a diam. Proin a tempus ante. Aenean quis ligula id ante semper vulputate et lacinia libero. Quisque dui orci, vulputate non tellus eget, tempus consequat mauris. Donec non mi non metus aliquam elementum in vitae ligula. Nulla quis tellus velit. Vivamus gravida nulla mauris, vel lacinia leo feugiat eget. Vestibulum eu diam ornare, euismod felis nec, congue purus. Suspendisse iaculis tempor diam, eget tincidunt est consequat a. Vestibulum condimentum tellus et nulla sagittis efficitur. Nam volutpat justo in metus consequat, et tristique urna accumsan. Fusce vel lectus et ante vestibulum fringilla.
        </p>
  
        <p class="indent">
            Suspendisse faucibus erat quis libero facilisis finibus sed ac magna. Vivamus ut maximus dui. Curabitur rutrum malesuada purus gravida suscipit. Sed vestibulum nulla justo, eu sagittis velit imperdiet quis. Vestibulum accumsan sed urna vel tempor. Sed eu rhoncus nisi. Sed ultrices, urna nec venenatis lobortis, lacus dolor gravida leo, nec venenatis massa ligula porta nunc. Donec consectetur libero a lacus luctus, vel malesuada velit ullamcorper. Nullam vestibulum ultrices tellus, et rhoncus tellus congue at.
        </p>
        
        <p class="indent">
            Nulla mattis dui dui, in gravida massa mollis vitae. Pellentesque molestie enim sit amet venenatis tempor. Quisque at orci sit amet dui suscipit porta nec nec enim. Donec pellentesque, neque facilisis finibus sodales, eros dolor volutpat elit, commodo luctus massa lacus eu dolor. Ut id metus id risus vehicula pulvinar. Cras vehicula est eu enim vestibulum, vitae mollis tellus dictum. Curabitur eu dui non tellus auctor finibus. Etiam sodales ut tortor ac sodales. Integer commodo neque vel ornare sollicitudin. In ex orci, placerat pulvinar est nec, mattis hendrerit neque.
        </p>
        
        <p class="indent">
            Nam porta nisi eget massa malesuada aliquam. Donec congue ex sit amet arcu ultricies, volutpat semper risus sagittis. Vestibulum pellentesque scelerisque lobortis. Ut interdum euismod ligula at tempor. Donec consectetur, nisl ac maximus sollicitudin, nibh mauris mattis nunc, id dictum urna est ac metus. Suspendisse auctor gravida massa. Proin scelerisque, purus in viverra rhoncus, turpis massa sodales nulla, in elementum orci nisi nec nibh. Maecenas rutrum, purus a euismod rutrum, nisl enim vulputate metus, ac feugiat tellus augue venenatis nunc.
        </p>
        
        <p class="indent">
            Morbi quis velit vel dolor dapibus interdum vel a erat. Sed ac ullamcorper erat. Suspendisse eget ex fringilla, feugiat metus in, tincidunt nisl. Praesent posuere tincidunt dapibus. Nulla facilisi. Morbi at egestas velit. Aenean molestie, libero congue consequat cursus, lorem nisi iaculis justo, eu ullamcorper erat ex non erat. Integer in luctus lorem, sit amet hendrerit elit. Nunc enim urna, auctor eu pellentesque non, efficitur id sapien. Fusce at elit venenatis, convallis est eu, rhoncus velit. Nam pellentesque diam ac neque imperdiet, rhoncus dictum risus aliquam. Suspendisse dui nisl, ultricies sit amet lacus quis, egestas egestas massa.
        </p>
        
        
        <br/>
        
        <div class="next-page"></div>

        <p>
            <b>Lorem ipsum dolor sit amet.</b>
        </p>
        <br/>

        <p>
            <b style="text-decoration: underline;">Underline:</b>
        </p>

        <ul>
            <li>
                <b>List 1:</b> Integer condimentum arcu ut ipsum interdum, pretium tincidunt enim finibus.
            </li>
            <li>
                <b>List 2:</b> Vestibulum in neque a risus iaculis cursus.
            </li>
            <li>
                <b>List 3:</b> Nulla maximus sapien ac justo dapibus, ut pharetra est luctus.
            </li>
            <li>
                <b>List 4:</b> Nullam eget est vitae urna congue aliquet.
            </li>
        </ul>


        <div class='footer' th:include="footer::footer"></div>

    </body>

</html>